﻿@model IEnumerable<Mas_Global.Web.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>


@using (Html.BeginForm("Details", "Employees", FormMethod.Post))
{
    @Html.DisplayNameFor(model => model.id) @Html.TextBox("id") <button type="submit">Get Employees</button>
    @ViewBag.Message
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contractTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hourlySalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monthlySalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annualSalary)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contractTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hourlySalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monthlySalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.annualSalary)
            </td>
        </tr>
    }

</table>
